.bannerSection {
    height: calc(100vh - 120px);
    padding-top: 50px;

    .lastBtn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;

        li {
            margin-right: 10px;

            div {
                min-width: 220px;
            }

            &:last-child {
                margin-right: 0px;
            }

        }
    }

    .bannerImg {
        img {
            border-radius: 30px;
        }
    }

    .contactSection {
        max-width: 450px;
        padding: 25px;
        margin-left: auto;
        background: #f8f8f8;
        border: 1px solid #acb5be80;
        border-radius: 10px;

        input,
        textarea {
            background: transparent;
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .bannerSection {
        height: calc(100vh - 0px);
        padding-top: 50px;

        .lastBtn {
            margin-bottom: 30px;

            li {
                margin-right: 10px;

                div {
                    min-width: 200px;
                }

            }
        }

        .bannerLogos {
            img {
                height: 50px;
                width: auto;
            }
        }

        .contactSection {
            max-width: 450px;
            padding: 25px;
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .bannerSection {
        height: calc(100vh - 0px);
        padding-top: 50px;

        .lastBtn {
            margin-bottom: 30px;

            li {
                margin-right: 10px;

                div {
                    min-width: 180px;
                }

            }
        }

        .bannerLogos {
            img {
                height: 45px;
                width: auto;
            }
        }

        .contactSection {
            max-width: 450px;
            padding: 25px;
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .bannerSection {
        height: calc(100vh - 0px);
        padding-top: 50px;

        .lastBtn {
            margin-bottom: 20px;

            li {
                margin-right: 10px;

                div {
                    min-width: 180px;
                }

            }
        }

        .contactSection {
            max-width: 450px;
            padding: 25px;
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .bannerSection {
        height: calc(100vh - 0px);
        padding-top: 50px;

        .lastBtn {
            margin-bottom: 10px;
            margin-top: 15px;

            li {
                margin-right: 10px;

                div {
                    min-width: 160px;
                }

            }
        }



        .contactSection {
            max-width: 450px;
            padding: 25px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
    .bannerSection {
        height: calc(650px - 0px);
        padding-top: 50px;

        .lastBtn {
            margin-bottom: 10px;
            margin-top: 15px;

            li {
                margin-right: 10px;

                div {
                    min-width: 160px;
                }

            }
        }

        .contactSection {
            max-width: 450px;
            padding: 25px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .bannerSection {
        height: calc(550px - 0px);
        padding-top: 80px;

        .lastBtn {
            margin-bottom: 20px;
            margin-top: 20px;

            li {
                margin-right: 5px;

                div {
                    min-width: 140px;
                }

                &:last-child {
                    margin-right: 0px;
                }

            }
        }

        .bannerImg {
            display: none;
        }

        .logoBanner {
            height: 35px;
            width: auto;
        }


    }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .bannerSection {
        height: calc(100% - 0px);
        padding-top: 80px;
        padding-bottom: 30px;

        .lastBtn {
            margin-bottom: 20px;
            margin-top: 20px;

            li {
                margin-right: 5px;

                div {
                    min-width: 140px;
                }

                &:last-child {
                    margin-right: 0px;
                }

            }
        }

        .bannerImg {
            img {
                margin-top: 30px;

            }
        }

        .logoBanner {
            height: 35px;
            width: auto;
        }


    }
}