.servicesMainSection {
    background: linear-gradient(0deg, #f8f8f8 0%, #FFFFFF 100%);
    padding-bottom: 50px;

    .servicesMainContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;

        .servicesMainItem {
            flex: 0 0 calc(25% - 10px);
            position: relative;
            margin-bottom: 20px;
            background: #FFFFFF;
            border: 1px solid rgba(172, 181, 190, 0.5);
            border-radius: 26px;

            .servicesMainImage {
                transition: flex 0.5s ease, transform 0.5s ease;
                height: 355px;
                width: 100%;
                position: relative;
                border-radius: 26px;
                overflow: hidden;
                padding: 25px;

                &::before {
                    content: '';
                    background: linear-gradient(180deg, #04b49c 0%, rgba(71, 32, 153, 0) 65.56%);
                    border-radius: 26px;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transition: opacity 0.5s ease;
                    z-index: 1;
                    animation: none;
                    opacity: 0;
                }

                &::after {
                    content: '';
                    background: linear-gradient(319.4deg, #04b49c 13.78%, #FFFFFF 90.15%);
                    border-radius: 26px;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: opacity 0.5s ease;
                    z-index: 0;
                    animation: none;
                    opacity: 0;
                }

                .barLine {
                    height: 4px;
                    width: 64px;
                    background: linear-gradient(278.31deg, #04b49c 3.87%, #FFFFFF 104.29%);
                    border-radius: 26px;
                    margin-bottom: 20px;
                }

                .title {
                    position: relative;
                    z-index: 2;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 30px;
                    letter-spacing: -0.165px;
                    color: #000000;
                    margin-bottom: 15px;
                }


                .readMore {
                    width: 140px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #000000;
                    border-radius: 100px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 30px;
                    letter-spacing: -0.165px;

                    position: absolute;
                    left: 20px;
                    bottom: 20px;

                    a {
                        color: #000000;
                    }
                }

                &:hover {

                    p {
                        z-index: 2;
                        position: relative;
                        opacity: 1;
                        color: #000;
                    }

                    .title {
                        font-size: 24px;
                        line-height: 30px;
                    }

                    .readMore {
                        z-index: 2;
                        background: #000;
                        border-color: #000;
                        color: #fff;

                        a {
                            color: #fff;
                        }
                    }

                    &::before {
                        animation: 0.5s ease forwards;
                        opacity: 1;
                    }

                    &::after {
                        opacity: 1;
                    }

                }
            }


        }

    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .servicesMainSection {
        .servicesMainContainer {
            .servicesMainItem {
                margin-bottom: 20px;
                border-radius: 26px;

                .servicesMainImage {
                    height: 300px;
                    border-radius: 26px;
                    padding: 25px;


                    .title {
                        font-size: 20px;
                        line-height: 28px;
                    }


                    .readMore {
                        width: 140px;
                        height: 40px;
                        font-size: 15px;
                        line-height: 30px;
                        left: 20px;
                        bottom: 20px;
                    }

                    &:hover {
                        .title {
                            font-size: 22px;
                            line-height: 30px;
                        }
                    }
                }

            }

        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .servicesMainSection {
        .servicesMainContainer {
            .servicesMainItem {
                margin-bottom: 20px;
                border-radius: 26px;

                .servicesMainImage {
                    height: 290px;
                    border-radius: 26px;
                    padding: 25px;


                    .title {
                        font-size: 18px;
                        line-height: 26px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 15px;
                        line-height: 23px;
                    }

                    .readMore {
                        width: 140px;
                        height: 40px;
                        font-size: 15px;
                        line-height: 30px;
                        left: 20px;
                        bottom: 20px;
                    }

                    &:hover {
                        .title {
                            font-size: 20px;
                            line-height: 26px;
                        }
                    }
                }

            }

        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .servicesMainSection {
        .servicesMainContainer {
            .servicesMainItem {
                margin-bottom: 15px;
                border-radius: 20px;

                .servicesMainImage {
                    height: 280px;
                    border-radius: 20px;
                    padding: 20px;


                    .title {
                        font-size: 18px;
                        line-height: 26px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 23px;
                    }

                    .readMore {
                        width: 120px;
                        height: 38px;
                        font-size: 13px;
                        line-height: 30px;
                        left: 15px;
                        bottom: 15px;
                    }

                    &:hover {
                        border-radius: 20px;

                        &::before,
                        &::after {
                            border-radius: 20px;
                        }

                        .title {
                            font-size: 20px;
                            line-height: 26px;
                        }
                    }
                }

            }

        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .servicesMainSection {
        .servicesMainContainer {
            .servicesMainItem {
                margin-bottom: 15px;
                border-radius: 20px;

                .servicesMainImage {
                    height: 250px;
                    border-radius: 20px;
                    padding: 20px;


                    .title {
                        font-size: 16px;
                        line-height: 22px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 13px;
                        line-height: 21px;
                    }

                    .readMore {
                        width: 110px;
                        height: 35px;
                        font-size: 12px;
                        line-height: 30px;
                        left: 15px;
                        bottom: 15px;
                    }

                    &:hover {
                        border-radius: 20px;

                        &::before,
                        &::after {
                            border-radius: 20px;
                        }

                        .title {
                            font-size: 18px;
                            line-height: 22px;
                        }
                    }
                }

            }

        }
    }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
    .servicesMainSection {
        .servicesMainContainer {
            justify-content: center;
            align-items: center;
            gap: 10px;

            .servicesMainItem {
                margin-bottom: 0px;
                border-radius: 20px;
                flex: 0 0 calc(33.33% - 10px);


                .servicesMainImage {
                    height: 260px;
                    border-radius: 20px;
                    padding: 20px;


                    .title {
                        font-size: 16px;
                        line-height: 22px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 13px;
                        line-height: 21px;
                    }

                    .readMore {
                        width: 110px;
                        height: 32px;
                        font-size: 12px;
                        line-height: 30px;
                        left: 15px;
                        bottom: 15px;
                    }

                    &:hover {
                        border-radius: 20px;

                        &::before,
                        &::after {
                            border-radius: 20px;
                        }

                        .title {
                            font-size: 18px;
                            line-height: 22px;
                        }
                    }
                }

            }

        }
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .servicesMainSection {
        .servicesMainContainer {
            gap: 10px;
            justify-content: center;

            .servicesMainItem {
                margin-bottom: 10px;
                border-radius: 15px;
                flex: 0 0 calc(50% - 10px);

                .servicesMainImage {
                    height: 240px;
                    border-radius: 15px;
                    padding: 20px 20px;

                    &::before,
                    &::after {
                        border-radius: 15px;
                    }

                    .title {
                        font-size: 17px;
                        line-height: 22px;
                        margin-bottom: 10px;
                    }

                    .barLine {
                        margin-bottom: 10px;
                    }

                    .readMore {
                        width: 110px;
                        height: 35px;
                        font-size: 13px;
                        line-height: 30px;
                        left: 10px;
                        bottom: 10px;
                    }

                    .btnReaMore {
                        height: 30px;
                        width: 30px;
                        bottom: 10px;
                        right: 10px;

                        svg {
                            width: 12px;
                        }
                    }



                    &:hover {
                        .title {
                            font-size: 19px;
                            line-height: 24px;
                        }
                    }
                }


                @keyframes shrink {


                    100% {
                        width: 50px;
                        height: 4px;
                        top: 80px;
                        left: 30px;
                    }
                }

            }

        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .servicesMainSection {
        .servicesMainContainer {
            gap: 10px;
            justify-content: center;

            .servicesMainItem {
                margin-bottom: 10px;
                border-radius: 20px;
                flex: 0 0 calc(100% - 0px);

                .servicesMainImage {
                    height: 220px;
                    border-radius: 20px;
                    padding: 20px 20px;

                    &::before,
                    &::after {
                        border-radius: 20px;
                    }

                    .title {
                        font-size: 18px;
                        line-height: 24px;
                        margin-bottom: 10px;
                    }

                    .barLine {
                        margin-bottom: 10px;
                    }

                    .readMore {
                        width: 120px;
                        height: 35px;
                        font-size: 14px;
                        line-height: 30px;
                        left: 20px;
                        bottom: 20px;
                    }

                    .btnReaMore {
                        height: 35px;
                        width: 35px;
                        bottom: 20px;
                        right: 20px;

                        svg {
                            width: 15px;
                        }
                    }



                    &:hover {
                        .title {
                            font-size: 20px;
                            line-height: 24px;
                        }
                    }
                }


                @keyframes shrink {


                    100% {
                        width: 50px;
                        height: 4px;
                        top: 80px;
                        left: 25px;
                    }
                }

            }

        }
    }
}