.booktxtSection {
    .bookContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 50px;

        .contentBox {
            flex: 0 0 50%;
            background: #FFFFFF;
            padding: 30px 50px;
            position: relative;
            transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
                background 0.4s ease-in-out,
                box-shadow 0.3s ease;
            border-right: 1px solid #B6C2CC;
            border-bottom: 1px solid #B6C2CC;
            height: 330px;
            justify-content: center;

            &:nth-child(even) {
                border-right: 0px;
            }

            &:last-child,
            &:nth-last-child(2) {
                border-bottom: 0px;
            }

            h4 {
                color: #000;
                transition: opacity 0.3s ease, transform 0.3s ease;
            }

            p {
                height: 170px;
                overflow: auto;
                margin-bottom: 0px;

                &::-webkit-scrollbar {
                    width: 0px;
                }

            }

            &:hover {
                background: rgba(0, 0, 0, 0.7);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
                border: 0px;

                h4,
                p {
                    color: #fff;
                    transition: opacity 0.3s ease, transform 0.3s ease;
                }
            }

        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .booktxtSection {
        .bookContainer {
            margin-top: 30px;

            .contentBox {
                height: 280px;
                padding: 25px;

                p {
                    height: 150px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .booktxtSection {
        .bookContainer {
            margin-top: 20px;

            .contentBox {
                height: 260px;
                padding: 25px;

                p {
                    height: 130px;
                }

            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .booktxtSection {
        .bookContainer {
            margin-top: 20px;

            .contentBox {
                height: 220px;
                padding: 20px 15px;

                p {
                    height: 135px;
                }

            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .booktxtSection {
        .bookContainer {
            margin-top: 20px;

            .contentBox {
                height: 220px;
                padding: 20px 15px;

                p {
                    height: 110px;
                }

            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
    .booktxtSection {
        .bookContainer {
            margin-top: 20px;

            .contentBox {
                height: 260px;
                padding: 20px 15px;

                p {
                    height: 150px;
                }

            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .booktxtSection {
        .bookContainer {
            margin-top: 20px;

            .contentBox {
                flex: 0 0 100%;
                height: auto;
                padding: 20px 15px;
                border-right: 0px solid #B6C2CC;
                border-bottom: 1px solid #B6C2CC;

                &:nth-child(even) {
                    border-right: 0px;
                }

                &:last-child,
                &:nth-last-child(2) {
                    border-bottom: 1px solid #B6C2CC;
                }

                p {
                    height: auto;
                }

            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .booktxtSection {
        .bookContainer {
            margin-top: 20px;

            .contentBox {
                flex: 0 0 100%;
                height: auto;
                padding: 20px 15px;
                border-right: 0px solid #B6C2CC;
                border-bottom: 1px solid #B6C2CC;

                &:nth-child(even) {
                    border-right: 0px;
                }

                &:last-child,
                &:nth-last-child(2) {
                    border-bottom: 1px solid #B6C2CC;
                }

                p {
                    height: auto;
                }

            }
        }
    }
}